.edit-time {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.6em;

  h1 {
    margin-bottom: .5em;
    color: var(--color-primary);
  }

  .form-control {
    position: relative;

    &.notShow {
      display: none;
    }

    input {
      border: 2px solid var(--color-neutral-100);
      padding: 0.6em 0.5em;
      border-radius: 5px;
      width: 100%;
      outline: none;
      transition: all 0.3s ease-in-out;

      &::placeholder {
        opacity: 0;
      }

      &:focus {
        border-color: var(--color-primary);
      }
    }

    label {
      position: absolute;
      left: 0.5em;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease-in-out;
      background-color: var(--color-neutral-50);
      padding: 0 0.5em;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      top: 0;
      font-size: 10px;
      left: .5em;
    }
  }

  .cta {
    display: flex;
    gap: 2em;
    align-items: center;
    margin-top: 1em;
  }

  .save-btn {
    background-color: var(--color-primary);
    color: var(--color-neutral-100);
  }
}

// make the layout responsive
@media (max-width: 50em) {
  .edit-time {
    padding: 0;
  }

  .cta {
    gap: 1em !important;
  }
}
