.showcase {
  padding-block: 3em;

  .details {
    padding: 2em;
    border-radius: 5px;
    box-shadow: var(--box-shadow);

    .details-title {
      margin-bottom: 1em;
      max-width: max-content;
    }
  }

  article {
    background-color: var(--color-neutral-100);
    border-radius: 5px;
    overflow: hidden;

    .time-details {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      align-items: center;
      gap: 2em;
      padding: 0.5em;

      h5 {
        font-weight: 600;
      }

      &:first-of-type {
        background-color: var(--color-neutral-200);
      }

      &:not(:nth-of-type(1)) {
        padding-block: 0.3em;
        border-top: 1px solid var(--color-neutral-200);
      }

      .mat-form-field {
        justify-self: end;
        max-width: 10em;
      }

      .cta {
        display: flex;
        gap: 0.5em;
        justify-self: end;

        button {
          min-width: 0.5em !important;
          padding: 0 0.3em !important;

          &.edit-btn {
            color: var(--color-primary);
          }

          &.delete-btn {
            color: var(--color-danger);
          }

          .mat-icon {
            margin-left: 0;
          }
        }

        button .mat-icon {
          scale: 0.8;
        }
      }
    }
  }
}

// if the time details table is empty, show this style
.showcase-empty {
  padding: 1em 0.5em;
  p {
    font-size: 1.4rem;
  }
}

// responsive table
@media (max-width: 50em) {
  .showcase {
    .details {
      padding: 1em;
    }

    article {
      .time-details {
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5em;

        .mat-form-field {
          max-width: 5em;
        }
      }
    }
  }
}

::ng-deep {
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-wrapper {
    background: var(--color-neutral-50);
    padding: 0.4em 0.5em;
    border-radius: 4px;

    .mat-form-field-flex {
      padding-top: 0 !important;
    }

    .mat-form-field-infix {
      padding-block: 0;
      border-top: 0;
    }
  }
}
