<section class="showcase">
  <div class="container">
    <!-- details -->
    <div class="details" *ngIf="times.length; else onEmpty">
      <h3 class="details-title gradient">Zeit eingetragen Details</h3>

      <!-- articles -->
      <article *ngIf="times.length; else onEmpty">
        <div class="time-details">
          <h5 class="truncate">Datum</h5>
          <h5>Von</h5>
          <h5>Bis</h5>

          <!-- select the month -->
          <mat-form-field appearance="standard">
            <!-- <mat-label>Monat auswählen</mat-label> -->
            <mat-select
              (valueChange)="filterTimes($event)"
              [value]="selectedMonth"
              [disableOptionCentering]="true"
            >
              <mat-option
                class="truncate"
                *ngFor="let monthName of months; let i = index"
                [value]="monthName.id"
              >
                {{ monthName.month }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="time-details" *ngFor="let date of times">
          <span class="truncate">{{
            date.startTime | date : "dd.MM.yyyy"
          }}</span>
          <span>{{ date.startTime | date : "HH:mm" }}</span>
          <span>{{ date.endTime | date : "HH:mm" }}</span>
          <div class="cta">
            <!-- delete button -->
            <button
              class="btn delete-btn"
              mat-button
              (click)="deleteTime(date.id)"
            >
              <mat-icon>delete_outline</mat-icon>
            </button>
            <!-- edit button -->
            <button class="btn edit-btn" mat-button (click)="editTime(date.id)">
              <mat-icon class="gradient">mode_edit_outline</mat-icon>
            </button>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<!-- if the details table is empty -->
<ng-template #onEmpty>
  <section class="showcase-empty">
    <h3 class="details-title gradient">Zeit eingetragen Details</h3>
    <p>Sie haben noch kein Zeit eingetragen.</p>
  </section>
</ng-template>
