<section class="showcase">
  <div class="container">
    <div class="cta">
      <button mat-raised-button color="primary" (click)="startTime()">
        Eintragen
        <mat-icon>schedule</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="endTime()">
        Austragen
        <mat-icon>lock_clock</mat-icon>
      </button>
    </div>

    <!-- details -->
    <div class="details">
      <div class="details-header">
        <h3 class="details-title">Zeit eintragen Details</h3>

        <!-- select the month -->
        <mat-form-field appearance="outline">
          <mat-label>Monat auswählen</mat-label>
          <mat-select
            [(ngModel)]="selectedMonth"
            name="months"
            [disableOptionCentering]="true"
            (valueChange)="filterTimes($event)"
          >
            <mat-option
              *ngFor="let monthName of months; let i = index"
              [value]="monthName.id"
            >
              {{ monthName.month }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- articles -->
      <article *ngIf="times.length">
        <div class="time-details">
          <h5>Datum</h5>
          <h5>Von</h5>
          <h5>Bis</h5>
          <span></span>
        </div>

        <div class="time-details" *ngFor="let date of times">
          <span>{{ date.startTime | date : "dd.MM.yyyy" }}</span>
          <span>{{ date.startTime | date : "HH:mm" }}</span>
          <span>{{ date.endTime | date : "HH:mm" }}</span>
          <div class="cta">
            <button class="edit" mat-button (click)="editTime(date.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="delete" mat-button (click)="deleteTime(date.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
