.showcase {
  padding-block: 3em;

  .cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;

    button {
      background-color: var(--color-primary);
    }

    button .mat-icon {
      scale: 0.8;
      margin-left: 0.2em;
    }
  }

  .details {
    margin-top: 2em;
    padding: 2em;
    border-radius: 5px;
    box-shadow: var(--box-shadow);

    .details-header {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      justify-content: space-between;
      align-items: start;
      gap: 2em;

      .details-title {
        color: var(--color-primary);
      }

      .mat-form-field {
        margin-left: auto;
      }
    }
  }

  article {
    .time-details {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      align-items: center;
    }
  }
}
