footer {
  padding-block: 2em;
  background-color: var(--color-neutral-900);

  .container {
    display: grid;
    place-items: center;
  }

  p {
    color: var(--color-neutral-400);
    font-size: 1.6rem;
    margin-top: 1em;
  }

  small {
    color: var(--color-neutral-500);
    margin-top: 1em;
  }
}
