.header {
  padding-block: 1em;
  background-color: var(--color-primary);

  .nav {
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }

  button {
    color: var(--color-primary);

    &.result-btn {
      color: var(--color-neutral-100);
      margin-left: auto;
    }
  }
}
