.result {
  padding-block: 1em;
  text-align: center;

  .title {
    color: var(--color-primary);
    margin-bottom: 1em;
  }

  .result {
    line-height: 2;
  }

  .content {
    display: grid;
    gap: 0.5em;
  }

  .close-btn {
    background-color: var(--color-primary);
    color: var(--color-neutral-50);
    margin-top: 0.5em;
  }

  &::ng-deep {
    .mat-form-field-wrapper {
      background-color: var(--color-neutral-200);
    }
  }
}
