.result {
  padding-block: 3em;
  text-align: center;

  h1 {
    color: var(--color-primary);
    margin-bottom: .5em;
  }

  h4 {
    line-height: 2;
  }

  .content {
    display: grid;
    gap: 0.5em;
    margin-bottom: 2em;
  }

  .close-btn {
    background-color: var(--color-primary);
    color: var(--color-neutral-50);
  }
}
