/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: hsl(282, 68%, 38%);
  --color-secondary: hsl(282, 60%, 46%);

  --color-neutral-50: hsl(0, 0%, 100%);
  --color-neutral-100: hsl(210, 11%, 96%);
  --color-neutral-200: hsl(210, 11%, 86%);
  --color-neutral-300: hsl(210, 11%, 80%);
  --color-neutral-400: hsl(210, 11%, 78%);
  --color-neutral-500: hsl(210, 6%, 64%);
  --color-neutral-600: hsl(210, 5%, 57%);
  --color-neutral-800: hsl(207, 7%, 25%);
  --color-neutral-900: hsl(204, 7%, 14%);

  --color-danger: hsl(0, 92%, 63%);
  --color-info: hsl(42, 92%, 63%);
  --color-succed: hsl(138, 57%, 50%);

  --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  --border-radius: 1em;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.7;
  color: var(--color-neutral-800);
}

button,
input {
  font-family: inherit;
}

// utilities
.container {
  width: min(100% - 2em, 1100px);
  margin-inline: auto;
}
