.result {
  padding-block: 3em;
  background-color: var(--color-neutral-100);

  h3 {
    color: var(--color-primary);
    margin-bottom: 1em;
  }

  .content {
    display: grid;
    gap: 0.5em;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 1em;
  }
}
